body {
  font-family: "Oswald", sans-serif;
  background-color: #4182ad;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


.cabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0;
}

.logo {
  width: 137px;
  height: auto;
}



.banner {
  width: 100%;
  top: 100px;
}
.banner img {
  width: 100%;
}

.banner .slick-prev:before,
.banner .slick-next:before {
  font-size: 40px;
  color: #0c0c0c;
}

.banner .slick-prev {
  z-index: 1;
}

.banner .slick-dots {
  bottom: 25px;
  display: none; /* Esconde os pontos */
}

.banner .slick-dots li {
  margin: 0 20px;
  display: none; /* Esconde os pontos */
}
section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}






