.site {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  opacity: 1;
  transition: opacity 0.8s ease;
  background-color: #1b4350;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p,
a {
  font-family: "Oswald", sans-serif;
}

/* ********************* 
    TOPO
*************************/

.topoContato {
  background: #4182ad;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div ul {
  display: flex;
}

header div a {
  text-decoration: none;
  color: #ffffff;
}

header div a:nth-child(2) {
  margin-left: -15%;
}

.topoRedeSocial li a {
  padding: 5px 20px;
  display: block;
  /*  */
  text-indent: -9999px;
  /*  */
  margin: 7px 10px 9px 0;
}

.topoRedeSocial li:nth-child(1) a {
  background: url(../img/icones/iconeFacebook.svg) no-repeat;
}

.topoRedeSocial li:nth-child(2) a {
  background: url(../img/icones/iconeInstagram.svg) no-repeat;
}

.topoRedeSocial li:nth-child(3) a {
  background: url(../img/icones/iconeWhatsVerde.svg) no-repeat;
}

.topoRedeSocial li:last-child a {
  margin-right: 0px;
}

.topoRedeSocial {
  transition: transform 0.3s ease;
}

.topoRedeSocial:hover {
  transform: scale(1.1);
}

/* Inicio do TOPO 02 */
header div:nth-child(2) {
  padding: 0.5% 0;
}

header div h1 {
  background: url(../img/dimtech-logo.png) no-repeat;
  background-size: contain; /* Faz a imagem se ajustar ao tamanho do elemento */
  background-position: left center; /* Centraliza verticalmente */
  width: 180px; /* ajuste aqui conforme desejar */
  height: 80px; /* altura menor para reduzir o tamanho */
  display: block;
  text-indent: -9999px;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.logo h1 {
  background: url(../img/dimtech-logo.png) no-repeat;
  background-size: contain;
  background-position: left center;
  width: 300px;
  height: 95px;
  text-indent: -9999px;
  margin: 0;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: "Oswald", cursive;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

.menu ul li a:hover,
.menu ul li a.ativo {
  color: #41905f;
  font-weight: bold;
}


.subMenu ul {
  display: none;
}

.subMenu:hover ul {
  z-index: 1;
  display: block;
  position: absolute;
  margin-left: 15px;
  background: rgba(0, 123, 255, 0.2);
}

.subMenu ul li a {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.2em;
}

/* Página Sobre */

.contSobre {
  padding: 20px 0;
  text-align: center;
}

.contSobre h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 20px;
}
.contSobre h3{
  color:#041e47;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}


.contSobre div div {
  display: flex;
  justify-content: space-around;
}

.contSobre div div div {
  width: 48%;
  padding: 0 25px;
}

.contSobre img {
  width: 100%;
  border-radius: 25px 0px 0px 25px;
}

.contSobre div div div:nth-child(1) {
  padding-left: 25px;
}

.contSobre div div div:nth-child(2) {
  flex-direction: column;
  padding-right: 25px;
  justify-content: space-between;
  background: #1db1d0;
  border-radius: 0px 50px 50px 0px;
}

.contSobre p {
  text-align: justify;
  color: #041e47;
  font-size: 1.2em;
  line-height: 1.8em;
  text-indent: 2em;
  margin-top: 3%;
}



/* fim da página Sobre */

/* Inicio Rodapé */
footer {
  background-color: #1b4350;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}
.social-links {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: center;
  gap: 40px;
  margin-bottom: 0px;
}

.social-links img {
  width: 50px;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.2);
}
.redeSocial {
  margin: 50px;
}

/* Fim do Rodapé */

/* Banner da página inicial */

.fade img {
  height: auto;
  display: block;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.fade .slick-next {
  right: 30px;
}

.fade .slick-prev:before,
.fade .slick-next:before {
  font-size: 40px;
  color: #1d9bc1;
}

.fade .slick-prev {
  left: 40px;
  z-index: 1;
}

.fade .slick-dots {
  bottom: 10px;
}

.fade .slick-dots li {
  margin: 0 20px;
}

.fade .slick-dots li button:before {
  font-size: 25px;
  color: #1d9bc1;
}

.fade .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #1d9bc1;
}
/* Fim do Banner da página inicial */

/* Conteudos da página inicial embaixo do banner */

.conteudo {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.conteudo {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.imagemC {
  width: 300px;
  height: auto;
  display: block;
}
.imagemC {
  transition: transform 0.3s ease;
}

.imagemC:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.botao {
  cursor: pointer;

  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: #1d9bc1;
  font-weight: bold;
  text-decoration: none;
}

.botao:hover {
  background-color: #1d9bc1;
  color: #ffffff;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

main {
  background-color: #4182ad;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

/*fim do conteudo da página inicial embaixo do banner */

/* Página de Serviços */

.servicos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}

.servico-box {
  width: 300px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #ccc;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.servico-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.servico-box:hover {
  transform: translateY(-5px);
}

.servico-box h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.servico-box p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.servico-box a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #1b5b99;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.servico-box a:hover {
  background-color: #08345c;
}

.textService {
  color: #ffffff;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}

/* Página Artigos */

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
}

.noticia-card {
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.noticia-card:hover {
  transform: scale(1.02);
}

.noticia-card img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.card-conteudo {
  padding: 20px;
  background-color: #ccc;
}

.card-conteudo h3 {
  margin-top: 0;
  font-size: 1.4em;
  color: #1d9bc1;
}

.card-conteudo p {
  font-size: 1em;
  color: #333;
}
/* Fim da página Artigos */

/* Página de Contato */

.contato-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap; /* Responsivo */
}

.form-contato {
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
  background: #ccc;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-contato h2 {
  margin-bottom: 16px;
  color: #1d9bc1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.form-contato label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-contato input,
.form-contato textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

.form-contato button {
  background-color: #1d9bc1;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.form-contato button:hover {
  background-color: #157da1;
}

.imagem-contato {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-contato {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Fim da página de Contato */

/* Ventoy tutorial */

.banner {
  top: 0;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.banner img {
  width: 100%;
}

.banner .slick-prev:before,
.banner .slick-next:before {
  font-size: 40px;
  color: #0c0c0c;
}

.banner .slick-prev {
  z-index: 1;
}

.banner .slick-dots {
  bottom: 25px;
  display: none; /* Esconde os pontos */
}

.banner .slick-dots li {
  margin: 0 20px;
  display: none; /* Esconde os pontos */
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0;
}

.logo {
  width: 137px;
  height: auto;
}

.container {
  max-width: 900px;
  margin: 4px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  line-height: 1.7;
  font-size: 1.1em;
  text-align: left;
}

.tituloVent,
.container h2 {
  font-size: 2em;
  color: #1d9bc1;
  margin-bottom: 20px;
  border-bottom: 2px solid #1d9bc1;
  padding-bottom: 10px;
}

.container p {
  margin-bottom: 20px;
}

.container ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

.container ol li {
  margin-bottom: 10px;
}

.container ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.container ul li {
  margin-bottom: 10px;
}

.container a {
  color: #1d9bc1;
  text-decoration: underline;
  transition: color 0.3s;
}

.container a:hover {
  color: #157da1;
}

pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  overflow-x: auto;
  margin-bottom: 30px;
  font-size: 1em;
}

.indice {
  text-align: center;
  margin: 20px auto;
}

.indice ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
}

.indice ul li a {
  text-decoration: none;
  color: #1d9bc1;
  font-weight: 600;
  transition: color 0.3s ease;
}

.indice ul li a:hover {
  color: #0c5572;
}

/* Fim do Ventoy tutorial */

/* Página Formatacao */ /* Página Troca SSD */ /* Página Backup */

.servicos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
}

.servicosimg {
  width: 100%;
}
.servicosimg img {
  width: 100%;
}
.servicostexto {
  width: 100%;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.servicostexto h1 {
  text-align: justify;
  text-indent: 1.8em;
  color: #294f5c;
  font-size: 2.2em;
  width: 100%;
  font-weight: 600;
  margin: 10% 12px;
  line-height: 1.2em;
  margin-top: -140px;
}

.destaqueTitulo {
 margin-top: -199px !important;
}
.clonagem {
  margin-top: 0 !important;
}

.troca-ssd {
  margin-top: 0 !important;
}

/* Página Artigos */

/* base */
.noticiaCards {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Oswald", sans-serif;
  color: #333;
  text-align: center;
}

.noticiaCards h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #0b3d91;
}

.noticiaCards .subtitulo {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

article {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 30px;
  font-family: "Oswald", sans-serif;
}

article p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #ffffff;
  font-size: 20px;
}

/* problema */
.problema {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.problema h2 {
  font-size: 1.5rem;
  color: #b30000;
  margin-bottom: 10px;
}

.problema p {
  margin-bottom: 10px;
}

.problema ul {
  margin-left: 20px;
  margin-top: 10px;
}

.problema ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}

/* conceito */
.conceito {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #eef6ff;
  border-radius: 10px;
}

.conceito h2 {
  font-size: 1.5rem;
  color: #0b3d91;
  margin-bottom: 10px;
}

.conceito ul {
  margin-left: 20px;
  margin-top: 10px;
}

.conceito ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}

.conceito p strong {
  color: #0b3d91;
}

/* tipos */
.tipos {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.tipos h2 {
  font-size: 1.5rem;
  color: #0b3d91;
  margin-bottom: 10px;
}

.tipos h3 {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #003366;
}

.tipos p {
  margin-bottom: 10px;
}

/* automacao */
.automacao {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.automacao h2 {
  font-size: 1.5rem;
  color: #0b3d91;
  margin-bottom: 10px;
}

.automacao ul {
  margin-left: 20px;
  margin-top: 10px;
}

.automacao ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}

.automacao p strong {
  color: #0b3d91;
}

/* casos */
.casos {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff7f7;
  border-radius: 10px;
}

.casos h2 {
  font-size: 1.5rem;
  color: #b30000;
  margin-bottom: 10px;
}

.casos ul {
  margin-left: 20px;
  margin-top: 10px;
}

.casos ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}

/* dimtech-ajuda */
.dimtech-ajuda {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #e6f7ff;
  border-radius: 10px;
}

.dimtech-ajuda h2 {
  font-size: 1.5rem;
  color: #0b3d91;
  margin-bottom: 10px;
}

.dimtech-ajuda ul {
  margin-left: 20px;
  margin-top: 10px;
}

.dimtech-ajuda ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}
