
/*
    ##########################
    ### Smartphones: 0 até 600
    ##########################
*/

@media (max-width: 400px) {
  .conteudo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 20px;
  }


.fade img {
  height: 215px;
}

  .logo {
    width: 100%;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

 











@media (max-width: 600px) {

  .site {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-bottom: 10px; /* espaço entre logo e menu */
  }

  

  .menu {
    justify-content: center; /* centraliza o menu horizontalmente */
  }

  .menu ul {
    flex-direction: column; /* empilha os itens do menu se quiser em coluna */
    align-items: center;
    gap: 10px; /* espaço entre os itens */
  }
}


  

/*
    ##########################
    ### Tablets: 601 até 1000
    ##########################
*/
@media (max-width: 1000px) {
    .slick-dots {
    display: none !important;
  }

/* BOTÃO DO MENU MOBILE */

.menu {
    padding: 5px 33px;
}


.banner  {
    width: 80% ;
    
}  

.conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


/* Página Sobre */
 .contSobre div div {
    flex-direction: column;
    align-items: center;
  }

  .contSobre div div div {
    width: 80%;
    padding: 10px 5px;
  }

  .contSobre img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px; /* arredondamento mais neutro para mobile */
  }

  .contSobre div div div:nth-child(2) {
    border-radius:  20px 20px;
    padding: 15px;
  }
}



 /* End of Tablets Media Query */